{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

{% if validlink %}


<form method="post">
{% csrf_token %}


    <div class="row" style="position: absolute; width: 100%; height: 50%; transform: translateY(20%); justify-content: center;">
        <!-- Grid column -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body" style="background-color: #fff">
                    <h3 class="text-center default-text py-3">New Password</h3>
                    
                        {{ form.password1.errors }}
                            <div class="md-form">
                                <i class="fa fa-unlock prefix grey-text"></i>
                                <input id="password1" type="password" name="password1" ng-model="password1" ng-minlength='6' class="validate" required>
                                <label for="password1">Password</label>
                            </div>
                                 {{ form.password1 }}
                      
                                  {{ form.password2.errors }}
                            <div class="md-form">
                                <i class="fa fa-unlock prefix grey-text"></i>
                                <input id="password2" type="password" name="password2" ng-model="password2" ng-minlength='6' class="validate" required>
                                <label for="password2">Repeat Password</label>
                            </div>
                                   {{ form.password2 }}


                    <div class="text-center">
                        <button class="btn btn-default waves-effect waves-light" type="submit">Done</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>






{% else %}

<h1 class="text-center">INVALID LINK: THIS LINK HAS ALREADY BEEN USED</h1>

{% endif %}

{% endblock %}