{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
<style>
  body {
    background-color: rgb(56, 72, 82);
  }
</style>
{% if validlink %}
<form method="post">
{% csrf_token %}
    <div class="row" style="position: absolute; width: 100%; height: 50%; transform: translateY(20%); justify-content: center;">
        <!-- Grid column -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body" style="background-color: #fff">
                    {{ form.new_password1.errors }}
                    <h3 class="text-center default-text py-3">New Password</h3>
                            <div class="md-form">
                                <i class="fa fa-unlock prefix grey-text"></i>
                                <input id="new_password1" type="password" name="new_password1" ng-model="password" ng-minlength='6' class="validate" required>
                                <label for="new_password1">Password</label>
                            </div>
                            {{ form.new_password2.errors }}
                            <div class="md-form">
                                <i class="fa fa-unlock prefix grey-text"></i>
                                <input id="new_password2" type="password" name="new_password2" ng-model="password" ng-minlength='6' class="validate" required>
                                <label for="new_password2">Repeat Password</label>
                            </div>
                    <div class="text-center">
                        <button class="btn btn-default waves-effect waves-light" type="submit">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% else %}
<div class="row" style="position: absolute; width: 100%; height: 50%; transform: translateY(20%); justify-content: center;">
    <!-- Grid column -->
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body" style="background-color: #fff">
                <h3 class="text-center default-text py-3">Invalid Link: This link has already been used.</h3>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}